{
  "plugins": [
    "@sap/ui5-jsdocs",
    "fiori-custom"
  ],
  "extends": [
    "plugin:@sap/ui5-jsdocs/recommended",
    "eslint:recommended",
    "plugin:fiori-custom/standard"
  ],
  "ignorePatterns": [
    "webapp/localservice/**",
    "webapp/test/**",
    "dist/**"
  ]
}